span.header-right {
  width: 100%;
  display: block;
  justify-content: right;
  display: flex;
  gap: 30px;
  padding: 10px;
}

span.header-left {
  width: 100%;
  display: block;
  justify-content: left;
  display: flex;
  gap: 30px;
  padding: 10px;
}
