<mat-toolbar>
  <span class="header-left">
    <!-- <button mat-mini-fab type="primary">
      <mat-icon>menu</mat-icon>
    </button> -->
  </span>
  <span *ngIf="employeeName" class="header-right">
    <span> Welcome - {{ employeeName }} </span>
    <button mat-stroked-button (click)="logout()" color="warn">
      Logout
    </button></span
  >
</mat-toolbar>
<router-outlet></router-outlet>
