<div class="grid-container">
  <ngx-datatable
    #datatable
    class="material"
    [rows]="rows"
    [columns]="columnDefs"
    [columnMode]="'force'"
    [headerHeight]="70"
    [footerHeight]="50"
    [rowHeight]="50"
    [sorts]="sorts"
    [scrollbarH]="true"
    [scrollbarV]="true"
    [virtualization]="false"
    [externalPaging]="true"
    [externalSorting]="true"
    [count]="page.totalElements ?? 0"
    [offset]="page.pageNumber ?? 0"
    [limit]="page.size"
    [loadingIndicator]="loading"
    (page)="setPage($event)"
    (sort)="sort($event)"
  >
    <ng-container *ngFor="let col of columnDefs">
      <ngx-datatable-column
        *ngIf="!col.hidden"
        [prop]="col.prop ?? ''"
        [width]="col.width ?? 80"
        [name]="col.name ?? ''"
      >
        <ng-template
          let-value="value"
          let-rowIndex="rowIndex"
          ngx-datatable-cell-template
        >
          <ng-container *ngIf="col.type === 'date'">
            {{ value | date: "dd/MMM/YYYY HH:mm" }}
          </ng-container>
          <ng-container *ngIf="col.type !== 'date'">{{ value }}</ng-container>
        </ng-template>
      </ngx-datatable-column>
    </ng-container>
  </ngx-datatable>
</div>
