<div class="flex-row container" [style.position]="'relative'">
  @if (mode === "edit") {
    <mat-form-field class="example-full-width">
      <input
        matInput
        placeholder="Type the filter's name"
        [(ngModel)]="value"
      />
    </mat-form-field>
    <button
      mat-icon-button
      [style]="{
        color: 'green'
      }"
      (click)="accept()"
    >
      <mat-icon>done</mat-icon>
    </button>
    <button
      mat-icon-button
      [style]="{
        color: 'red'
      }"
      (click)="cancel()"
    >
      <mat-icon>cancel</mat-icon>
    </button>
  } @else if (mode === "view") {
    <span class="label-container flex-row" (click)="edit()">
      <h5>{{ value }}</h5>
      <button
        mat-icon-button
        [style]="{
          color: '#a6a6a6'
        }"
        class="hoverable"
        (click)="mode = 'edit'"
      >
        <mat-icon>edit</mat-icon>
      </button>
    </span>
  }
</div>
