<mat-form-field class="example-full-width">
  <mat-label>Column</mat-label>
  <input
    type="text"
    placeholder="Pick one"
    aria-label="Number"
    matInput
    [formControl]="searchInputControl"
    [matAutocomplete]="auto"
  />
  <mat-autocomplete
    #auto="matAutocomplete"
    (optionSelected)="emitValue($event)"
  >
    @for (col of filteredColumns | async; track col) {
      <mat-option [value]="col.name">{{ col.name }}</mat-option>
    }
  </mat-autocomplete>
</mat-form-field>
