<div class="flex-row">
  <app-columns-select
    [columns]="columns"
    [filterValue]="filterValue"
    (valueChange)="emitValue($event)"
  ></app-columns-select>

  <ng-container *ngIf="filterValue">
    <app-equality-select
      [value]="filterValue.equality"
      [type]="filterValue.columnProps?.type"
      (valueChange)="changeEquality($event)"
    />

    <mat-form-field>
      <mat-label>Value</mat-label>
      <input
        matInput
        [type]="type"
        [(ngModel)]="inputValue"
        [value]="filterValue.value"
        (blur)="updateValue()"
      />
    </mat-form-field>
  </ng-container>
</div>
