.container {
  padding: 0 16px;
}

ul.errors {
  background: rgb(218 25 25 / 51%);
  border-radius: 5px;
  padding: 10px;
  list-style: none;
  color: white;
}

.form-title {
  font-family: Lexend; /* Heading */
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  color: #171a1fff; /* neutral-900 */
}

.form-subtitle {
  font-family: Lexend; /* Heading */
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  color: #9095a1ff; /* neutral-500 */
}

.divider {
  display: block;
  height: 20px;
}

/* Textbox 5 */
.textbox {
  opacity: 1;
  padding: 10px 0px;
  position: relative;
  width: 100%;

  input {
    width: calc(100% - 60px);
    height: 44px;
    padding-left: 44px;
    padding-right: 16px;
    font-family: Manrope; /* Body */
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    background: #f3f4f6ff; /* neutral-200 */
    border-radius: 8px; /* border-xl */
    border-width: 0px;
    outline: none;
  }
  img {
    position: absolute;
    right: 16px;
    top: 23px;
    width: 20px;
    height: 20px;
    opacity: 0.5;
  }
  img.left {
    left: 16px;
  }
  /* hover */
  input:hover {
    color: #bdc1caff; /* neutral-400 */
    background: #f3f4f6ff; /* neutral-200 */
  }
  /* focused */
  input:focused {
    color: #bdc1caff; /* neutral-400 */
    background: #ffffffff; /* white */
  }
  /* disabled */
  input:disabled {
    color: #bdc1caff; /* neutral-400 */
    background: #f3f4f6ff; /* neutral-200 */
  }
  &:disabled + .icon,
  .textbox :disabled + .icon + .icon {
    fill: #171a1fff; /* neutral-900 */
  }
}

/* Button 23 */
button.button {
  width: 100%;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Manrope; /* Body */
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #ffffffff; /* white */
  background: #6d31edff; /* primary-500 */
  opacity: 1;
  border: none;
  border-radius: 8px; /* border-xl */

  /* Hover */
  &:hover {
    color: #ffffffff; /* white */
    background: #5113d7ff; /* primary-600 */
  }
  /* Pressed */
  &:hover:active {
    color: #ffffffff; /* white */
    background: #3f0ea6ff; /* primary-700 */
  }
  /* Disabled */
  &:disabled {
    opacity: 0.4;
  }
}
