<div class="container">
  <h5 class="form-subtitle">Log in your account</h5>

  <div class="divider"></div>

  <div class="textbox">
    <img src="/assets/envelope.svg" alt="" class="left" />
    <input
      type="text"
      class="form-control"
      placeholder="What is your email?"
      [(ngModel)]="username"
    />
  </div>
  <div class="textbox">
    <img src="/assets/lock.svg" alt="" class="left" />
    <input
      type="password"
      class="form-control"
      placeholder="Enter your password"
      [(ngModel)]="password"
    />
  </div>

  <div class="divider"></div>

  <ul *ngIf="errors.length" class="errors">
    <li *ngFor="let error of errors">{{ error }}</li>
  </ul>

  <button
    class="button"
    (click)="login(username, password)"
    [disabled]="loggingIn"
  >
    {{ loggingIn ? "Signing In" : "Sign In" }}
  </button>
</div>
