<h2>Saved filters</h2>

<mat-list>
  <ng-container *ngIf="metadataService.savedFilters$ | async as savedFilters">
    @if (!savedFilters.length) {
      <mat-list-item>
        <div matListItemTitle>No saved filters</div>
      </mat-list-item>
    }
    @for (savedFilter of savedFilters; track savedFilter.name) {
      <mat-list-item>
        <button
          (click)="deleteFilter(savedFilter.id)"
          aria-label="Delete filter"
          matListItemIcon
          mat-icon-button
          [disabled]="savedFilter.readOnly || savedFilters.length === 1"
          [style]="{ padding: 0 }"
        >
          <mat-icon>delete</mat-icon>
        </button>
        <div matListItemTitle>
          <a
            (click)="applyFilters($index, savedFilter)"
            href="javascript:void(0)"
          >
            {{ savedFilter.name }}
          </a>
        </div>
        <div matListItemLine>
          <a
            (click)="applyFilters($index, savedFilter)"
            href="javascript:void(0)"
          >
            {{ savedFilter.updatedAt | date: "dd/MMM/YYYY HH:mm:ss" }}
          </a>
        </div>
      </mat-list-item>
    }
  </ng-container>
</mat-list>
