.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.login-form {
  width: 519px;
  height: 540px;
  background: white;
  border-radius: 8px;
  box-shadow: 0px 2px 5px #171a1f1f, 0px 0px 2px #171a1f36;
}

.login-logo {
  background: #000000;
  padding: 10px;
  border-radius: 15px;
}
