<div class="container">
  <div><img src="/assets/logo-white.png" width="400" class="login-logo" /></div>
  <div class="login-form">
    <app-login-form
      [username]="username"
      [password]="password"
    ></app-login-form>
  </div>
</div>
