<div [style.flexGrow]="1">
  <mat-toolbar>
    <mat-toolbar-row>
      <h2 mat-dialog-title>Customers filters</h2>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <div class="flex-row">
        <button mat-mini-fab color="secondary" (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span [style]="{ minWidth: '200px', margin: '0 5px 0 5px' }">
          <app-editable-label
            [value]="this.activeSavedFilters?.name"
            (valueChange)="renameFilters($event)"
          />
        </span>
        <span
          *ngIf="
            metadataService.hasUnsavedChanges$ | async as hasUnsavedChanges
          "
        >
          @if (hasUnsavedChanges) {
            <span>*</span>
          }
        </span>
        <button mat-stroked-button (click)="saveFilters()">Save</button>
        <app-input-prompt
          label="Duplicate"
          inputLabel="New filter name"
          [inputDefaultValue]="this.activeSavedFilters?.name ?? ''"
          (submit)="duplicateFilters($event)"
        >
        </app-input-prompt>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-dialog-content [style]="{ minHeight: '483px', padding: 0 }">
    <mat-drawer-container autosize [style.minHeight]="'483px'">
      <mat-drawer #drawer mode="push" [style.padding.px]="15">
        <app-saved-filters></app-saved-filters>
      </mat-drawer>

      <div
        [style]="{
          padding: '10px',
          position: 'relative',
          minHeight: '468px'
        }"
      >
        <div *ngIf="metadataService.loader$ | async as loader">
          @if (loader === "visible") {
            <div [style]="{ justifyContent: 'center' }" class="flex-row">
              <mat-spinner></mat-spinner>
            </div>
          } @else {
            <div class="flex-row">
              <mat-form-field>
                <mat-label>Global equality</mat-label>
                <mat-select
                  [value]="globalEquality"
                  (selectionChange)="globalEqualityChange($event)"
                >
                  <mat-option value="and">AND</mat-option>
                  <mat-option value="or">OR</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <ng-container *ngFor="let filter of filters">
              <div class="flex-row">
                <ng-container [ngSwitch]="filter.columnProps?.type">
                  <div *ngSwitchCase="'string'" class="flex-row">
                    <app-input-filter
                      type="text"
                      [columns]="columns"
                      [filterValue]="filter"
                      (valueChange)="valueChange($event)"
                    />
                    <button
                      (click)="removeFilter(filter.id)"
                      mat-button
                      color="warn"
                    >
                      Remove
                    </button>
                  </div>
                  <div *ngSwitchCase="'boolean'" class="flex-row">
                    <app-boolean-filter
                      [columns]="columns"
                      [filterValue]="filter"
                      (valueChange)="valueChange($event)"
                    />
                    <button
                      (click)="removeFilter(filter.id)"
                      mat-button
                      color="warn"
                    >
                      Remove
                    </button>
                  </div>
                  <div *ngSwitchCase="'date'" class="flex-row">
                    <app-date-filter
                      [columns]="columns"
                      [filterValue]="filter"
                      (valueChange)="valueChange($event)"
                    />
                    <button
                      (click)="removeFilter(filter.id)"
                      mat-button
                      color="warn"
                    >
                      Remove
                    </button>
                  </div>
                  <div *ngSwitchCase="'number'" class="flex-row">
                    <app-input-filter
                      type="number"
                      [columns]="columns"
                      [filterValue]="filter"
                      (valueChange)="valueChange($event)"
                    />
                    <button
                      (click)="removeFilter(filter.id)"
                      mat-button
                      color="warn"
                    >
                      Remove
                    </button>
                  </div>
                  <div *ngSwitchDefault class="flex-row">
                    <app-columns-select
                      [columns]="columns"
                      [filterValue]="filter"
                      (valueChange)="valueChange($event)"
                    />
                    <button
                      (click)="removeFilter(filter.id)"
                      mat-button
                      color="warn"
                    >
                      Remove
                    </button>
                  </div>
                </ng-container>
              </div>
            </ng-container>

            <div class="flex-row">
              <button
                (click)="addFilter()"
                mat-raised-button
                color="primary"
                cdkFocusInitial
              >
                Add Filter
              </button>
            </div>
          }
        </div>
      </div>
    </mat-drawer-container>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="false">Cancel</button>
    <button
      mat-button
      [mat-dialog-close]="{ filters, globalEquality }"
      color="primary"
    >
      Apply
    </button>
  </mat-dialog-actions>
</div>
