<div class="flex-row" [style.alignItems]="'flex-start'">
  <app-columns-select
    [columns]="columns"
    [filterValue]="filterValue"
    (valueChange)="emitValue($event)"
  ></app-columns-select>

  <ng-container *ngIf="filterValue">
    <app-equality-select
      [value]="filterValue.equality"
      [type]="filterValue.columnProps?.type"
      (valueChange)="changeEquality($event)"
    />
    <div>
      <mat-form-field [style.width]="'210px'">
        <mat-label>Choose a date</mat-label>
        <input
          matInput
          (dateChange)="updateValue()"
          [formControl]="date"
          [matDatepicker]="picker"
        />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="time-picker-container">
      <mat-label>Choose a time</mat-label>
      <ngx-timepicker-field
        [defaultTime]="timeInText"
        [format]="24"
        (timeChanged)="changeTime($event)"
      ></ngx-timepicker-field>
    </div>
  </ng-container>
</div>
