<mat-dialog-content>
  @if (title) {
    <h2 mat-dialog-title>{{ title }}</h2>
  }
  <mat-dialog-content>
    @if (prompt) {
      <p>{{ prompt }}</p>
    }
    <mat-form-field>
      <mat-label>{{ label }}</mat-label>
      <input matInput [(ngModel)]="value" />
    </mat-form-field>
  </mat-dialog-content>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="false">Cancel</button>
  <button mat-button [mat-dialog-close]="value" color="primary" cdkFocusInitial>
    OK
  </button>
</mat-dialog-actions>
