<div class="flex-row">
  <app-columns-select
    [columns]="columns"
    [filterValue]="filterValue"
    (valueChange)="emitValue($event)"
  ></app-columns-select>

  <ng-container *ngIf="filterValue">
    <mat-checkbox
      color="primary"
      [checked]="filterValue.value === 'true'"
      (change)="checkboxChange($event)"
    ></mat-checkbox>
  </ng-container>
</div>
