<mat-form-field>
  <mat-label>Select</mat-label>
  <mat-select [value]="value" (selectionChange)="changeEquality($event)">
    <mat-option value="" disabled="">Pick one</mat-option>
    <mat-option value="equals">equals (=)</mat-option>
    <mat-option *ngIf="type == 'string'" value="contains">contains</mat-option>
    <mat-option value="isNot">is not (!=)</mat-option>
    <mat-option *ngIf="type === 'number' || type === 'date'" value="greaterThan"
      >greater than (>)</mat-option
    >
    <mat-option *ngIf="type === 'number' || type === 'date'" value="greaterThanOrEqual"
      >greater than or equal (>=)</mat-option
    >
    <mat-option *ngIf="type === 'number' || type === 'date'" value="lessThan"
      >less than (<)</mat-option
    >
    <mat-option *ngIf="type === 'number' || type === 'date'" value="lessThanOrEqual"
      >less than or equal (<=)</mat-option
    >
  </mat-select>
</mat-form-field>
