<div class="grid-container">
  <!-- <pre *ngIf="filtersPreview">
    {{ columnFilters | json }}
  </pre> -->
  <div class="flex-container table-toolbar">
    <div class="flex-container">
      <mat-form-field [style.maxWidth]="'120px'">
        <mat-label>Per Page</mat-label>
        <mat-select
          [value]="metadata.page.size"
          (selectionChange)="changeSize($event)"
        >
          <mat-option [value]="" disabled="">Pick one</mat-option>
          <mat-option [value]="0">0</mat-option>
          <mat-option [value]="20">20</mat-option>
          <mat-option [value]="50">50</mat-option>
          <mat-option [value]="100">100</mat-option>
          <mat-option [value]="200">200</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          [(ngModel)]="metadata.filterText"
          placeholder="Type your search term"
        />
      </mat-form-field>
      <button
        mat-raised-button
        (click)="updateFilter()"
        [disabled]="loading"
        matTooltip="Filter through your customers"
        color="primary"
      >
        Search
      </button>
      <!-- <mat-form-field class="example-full-width">
        <mat-label>Override Restaurant Id</mat-label>
        <input
          matInput
          [(ngModel)]="overrideRestaurantId"
          (change)="setPage({ offset: 0 })"
        />
      </mat-form-field> -->
    </div>
    <div class="flex-container">
      <button
        mat-flat-button
        (click)="openFiltersDialog()"
        [disabled]="loading"
      >
        Filters
      </button>
      <button
        mat-flat-button
        [matMenuTriggerFor]="columnsMenu"
        [disabled]="loading"
      >
        Columns
      </button>
      <button mat-flat-button (click)="export()" [disabled]="loading">
        Export to Excel
      </button>
    </div>
  </div>
  <app-grid
    [rows]="rows"
    [loading]="loading"
    [metadata]="metadata"
    [columnDefs]="columnDefs"
    (updateMetadata)="setMetadata($event)"
  >
  </app-grid>
</div>

<!-- Active columns menu -->
<mat-menu
  #columnsMenu="matMenu"
  xPosition="before"
  panelClass="active-columns-menu"
>
  <section
    *ngIf="columnsFormGroup"
    class="flex-vertical-container active-columns-container"
    [formGroup]="columnsFormGroup"
    (click)="$event.stopPropagation()"
  >
    <h4>Active Columns</h4>
    <mat-grid-list cols="2" rowHeight="50px">
      <mat-grid-tile *ngFor="let col of columnDefs">
        <p class="active-column-item">
          <mat-checkbox
            color="primary"
            formControlName="{{ col.prop }}"
            (change)="updateColumns($event, col.prop)"
            >{{ col.name }}</mat-checkbox
          >
        </p>
      </mat-grid-tile>
    </mat-grid-list>
  </section>
</mat-menu>
