.grid-container {
  padding: 10px;
  // height: calc(100% - 55px);
}

.flex-container {
  display: flex;
  gap: 10px;
  align-items: center;
}

.table-toolbar {
  width: 95%;
  margin: auto;
  justify-content: space-between;
}

.flex-vertical-container {
  display: flex;
  flex-direction: column;
}

.active-columns-container {
  padding: 15px;
  min-width: 265px;
}

.active-column-item {
  width: 100%;
  text-align: left;
}

.wrap-text {
  text-wrap: wrap;
}
